<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
</head>
<body>
    {% load static %}
    <h1>This is My Places</h1>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% for place in places %}
    <div>
        <img src="{% static place.p_image %}">
    </div>
    <div>
        <a href="{% url 'place' place.id %}">{{place.p_name}}</a>
    </div>
    {% endfor %}
   
</body>
</html>